<?xml version="1.0" encoding="UTF-8"?>

<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
>

	<bean id="groupHelper" class="com.idega.user.business.GroupHelperBusinessBean" scope="session" />
	<bean id="userApplicationEngine" class="com.idega.user.business.UserApplicationEngineBean" scope="session" >
		<property name="groupHelperBean" ref="groupHelper"></property>
	</bean>

</beans>