.groupMemberStyleClass {
	float: left;
	padding-bottom: 7px;
	height: auto;
}

.groupMemberPhotoContainerStyleClass {
	float: left;
	width: auto;
	margin-right: 5px;
}

.groupMemberInfoContainerStyleClass {
	float: left;
}

.groupMemberStatusContainerStyleClass {
	font-weight: bold;
	font-size: 12px;
}

.groupMemberPhonesAndMailsContainerStyleClass {
	float: left;
}

.groupMemberEmailsContainerStyleClass {
	float: left;
}

.groupInfoNameContainerStyleClass {
	font-weight: bold;
	font-size: 12px;
}

.groupInfoEntryContainerStyleClass {
	padding-bottom: 5px;
}
