.groupMemberStyleClass {
	float: left;
}

.groupMemberPhotoContainerStyleClass {
	float: left;
	width: auto;
	margin-right: 5px;
}

.groupMemberInfoContainerStyleClass {
	float: left;
}

.groupMemberStatusContainerStyleClass {
	font-weight: bold;
	font-size: 12px;
}

.groupMemberPhonesAndMailsContainerStyleClass {
	float: left;
}

.groupMemberEmailsContainerStyleClass {
	float: left;
}