@CHARSET "UTF-8";

.choosersAndDescriptionStyleClass {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	padding: 15px;
}

.userApplicationChoosersContainer {
	float: left;
	width: 50%;
}

.users select {
	border: 1px #aaa solid !important;
	margin: 0 !important;
}

.userApplicationDescriptionContainerStyleClass {
	float: right;
	width: 45%;
	padding-left: 5%;
	font-size: 11px;
	line-height: 14px;
}

.parentGroupLabelContainerStyleClass {
	float: left;
	width: 50%;
	font-weight: bold;
	margin-bottom: 15px;
}

.parentGroupContainerStyleClass {
	float: left;
	width: 50%;
}

.childGroupsLabelContainerStyleClass {
	float: left;
	width: 50%;
	font-weight: bold;
	margin-bottom: 15px;
}

.childGroupChooserContainerStyleClass {
	float: left;
	width: 50%;
}

.orderByLabelContainerStyleClass {
	float: left;
	width: 50%;
	font-weight: bold;
}

.orderByChooserStyleClass {
	float: left;
	width: 50%;
}

.users .userAppLowerPartStyleClass {
	padding-top: 15px;
	width: 100% !important;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.userApplicationButtonsContainerStyleClass {
	padding-top: 10px;
	padding-right: 10px;
	float: right;
}

.users input {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
	font-size: 14px !important;
	background-color: #cef3cf;
	border: 1px #b5e1b7 solid !important;
	border-right-color: #80b082 !important;
	border-bottom-color: #6e9870 !important;
	border-left-color: #a9dcac !important;
	padding: 4px 12px;
}

.users .userFieldsContainerStyleClass input {
	border: 1px #a8a8a8 solid !important;
	background-color: #fff;
	margin: 0;
	margin-bottom: 8px;
	padding: 3px 5px;
}

.users .userFieldsContainerStyleClass select {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
	font-size: 14px;
	border: 1px #a8a8a8 solid;
	background-color: #fff;
	margin: 0;
	margin-bottom: 8px;
}

.membersListContainerStyleClass {
	font-weight: bold;
	border-bottom: 1px #aaa solid;
	background: #d7d7d7;
	margin: 0 !important;
}

.groupMembersListLabelsStyleClass {
	width: 100%;
	margin: 3px 8px;
}

.userNameLabelContainerStyleClass {
	float: left;
	width: 38%;
	margin-left: 8px;
}

.userPersonalIdLabelContainerStyleClass {
	float: left;
	width: 30%;
}

.changeUserLabelContainerStyleClass {
	float: left;
	width: 15%;
	text-align: center;
}

.removeUserLabelContainerStyleClass {
	float: left;
	width: 15%;
	text-align: center;
}

.allUsersValuesLinesStyleClass {
	width: 100%;
}

.userValuesLineContainerStyleClass {
	width: 100%;
	overflow: hidden;
	background-color: #fff;
}

.userValuesLineContainerStyleClass.odd {
	background-color: #efefef;
}

.userValuesLineContainerStyleClass:HOVER {
	background-color: #E8F1FC;
}

.userNameValueContainerStyleClass {
	float: left;
	width: 38%;
	margin-left: 8px;
}

.userPersonalIdValueContainerStyleClass {
	float: left;
	width: 30%;
}

.changeUserImageContainerStyleClass {
	float: left;
	width: 15%;
	text-align: center;
}

.removeUserCheckboxContainerStyleClass {
	float: left;
	width: 15%;
	text-align: center;
}

.membersListContainerStyleClass {
	margin: 5px;
}

.addUserlabelContainerStyleClass {
	width: 100%;
	border-bottom: 1px #a8a8a8 solid;
	border-top: 1px #a8a8a8 solid;
	padding: 4px 8px;
	font-size: 14px;
	margin-top: 4px;
	margin-bottom: 8px;
	font-weight: bold;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.userFieldsContainerStyleClass {
	float: left;
	width: 73%;
}

.descriptionContainerStyleClass {
	float: left;
	width: 25%;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.userFieldLabelContainerStyleClass {
	float: left;
	width: 45%;
	padding-left: 2px;
}

.userFieldValueContainerStyleClass {
	float: left;
}

.changeUserImageStyleClass {
}

.changeUserImageStyleClass:HOVER {
	cursor: pointer;
}

/* Workspace override */
.users .ws_main .wf_block {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	width: auto;
}

.users .ws_main .wf_block .wf_blockmainarea {
	background-color: #fff;
	padding: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 23px;
	height: auto;
	width: auto;
	overflow: auto;
}

/* MooTabs override */
#simpleUserApplication .mootabs_panel {
	padding-top: 25px;
}

#simpleUserApplication .webfaceFormItem {
	padding-left: 25px !important;
	overflow: hidden !important;
	margin-bottom: 15px !important;
}

#simpleUserApplication .webfaceFormItem label {
	font-weight: bold;
	font-size: 12px;
}

#simpleUserApplication .webfaceFormItem input {
	border: 1px #a8a8a8 solid !important;
	background-color: #fff;
	width: 200px;
}

#simpleUserApplication .webfaceFormItem select, #simpleUserApplication .webfaceFormItem textarea {
	border: 1px #a8a8a8 solid !important;
	background-color: #fff;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
	font-size: 14px;
	margin: 0;
}

#simpleUserApplication .webfaceFormItem textarea {
	width: 300px !important;
	height: 100px;
	padding: 3px 5px;
}

#simpleUserApplication .webfaceButtonLayer {
	padding-left: 25px !important;
}

#simpleUserApplication .webfaceButtonLayer input {
	font-size: 14px !important;
	padding: 4px 12px;
}

#simpleUserApplication .groupRolesStyleClass h3 {
	margin: 0;
	padding-left: 25px;
	margin-bottom: 15px;
	font-size: 14px;
}

#simpleUserApplication .groupRolesStyleClass label {
	padding-left: 25px;
	font-weight: bold;
	font-size: 12px;
}

#simpleUserApplication .groupRolesStyleClass input {
	border: 1px #a8a8a8 solid !important;
	background-color: #fff;
	width: 200px;
}

#simpleUserApplication .groupRolesStyleClass table {
	margin-left: 25px;
	margin-bottom: 15px;
}

#simpleUserApplication .groupRolesStyleClass table td {
	padding-right: 12px;
}

#simpleUserApplication .groupRolesStyleClass table input {
	width: 14px;
	height: 14px;
}

/* User group viewer */
.groupsMembersInfoList {
	overflow: hidden;
	width: 100%;
}

.groupMemberStyleClass {
	margin-bottom: 8px;
	padding-bottom: 8px;
	border-bottom: 1px #a8a8a8 solid;
	width: 100%;
	overflow: hidden;
}

.groupMemberPhotoContainerStyleClass {
	float: left;
	margin-right: 8px;
}

.groupMemberInfoContainerStyleClass {
	float: left;
	line-height: 18px;
}

.groupMemberStatusContainerStyleClass {
	font-weight: bold;
}

span.requiredFieldUserApp {
	color: #FF2700;
	font-size: 1.4em;
}

div.groupsChooserBoxBodyStyle {
	height: 150px;
	width: auto;
	overflow: auto;
	border: 1px #a0a0a0 solid;
}

ul.filteredGroupsListStyle {
	list-style: none;
	padding: 4px;
	margin: 0;
	padding-left: 0 !important;
}

ul.filteredGroupsListStyle li.filteredGroupNodeStyle {
	padding: 0;
	margin: 0;
	clear: both;
}

ul.filteredGroupsListStyle li.filteredGroupNodeStyle ul {
	padding: 0;
	margin-left: 35px;
	clear: both;
}

ul.filteredGroupsListStyle li.filteredGroupNodeStyle img {
	float: left;
}

ul.filteredGroupsListStyle li.filteredGroupNodeStyle input {
	margin: 0 !important;
	margin-left: 3px !important;
	margin-right: 3px !important;
	float: left !important;
}

ul.filteredGroupsListStyle li.filteredGroupNodeStyle span {
	display: inline;
	padding: 0;
	line-height: 16px;
	float: left !important;
}

span.directSearchResultElementStyle {
	font-weight: bold !important;
	opacity: 1 !important;
}

span.inDirectSearchResultElementStyle {
	font-weight: normal !important;
	opacity: 0.7 !important;
}

span.basicFilteredGroupNameElementStyle {
	float: none !important;
	margin-bottom: 0px !important;
}

input.checkBoxForFilteredGroupSelectionStyle {
	width: auto !important;
	float: none !important;
	margin: 0 5px 0 0 !important;
}

img.groupsFilterOpenOrCloseGroupsImageStyle {
	visibility: hidden !important;
}

div.simpleUserApplicationGroupMembersPagerStyle {
	color: #303030;
	font-weight: bold;
}

div.simpleUserApplicationGroupMembersPreviousPagePagerStyle {
	float: left;
	margin-left: 10px;
	margin-top: 8px;
}

img.simpleUserApplicationGroupMembersPreviousPageImageStyle {
	cursor: pointer;
	margin-right: 5px;
}

div.simpleUserApplicationGroupMembersNextPagePagerStyle {
	float: right;
	margin-right: 10px;
	margin-top: 8px;
}

img.simpleUserApplicationGroupMembersNextPageImageStyle {
	cursor: pointer;
	margin-left: 5px;
}

div.simpleUserApplicationGroupMembersPageSizeStyle {
	float: left;
	padding-left: 27%;
}

input.simpleUserApplicationGroupMembersPagerPageSizeInputStyle {
	width: 50px;
}